<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restroom Finder</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
</head>

<body>
    <header class="mx-3 mt-3">
        <h1>
        <a href="/" class="screen_501">RESTROOM FINDER <img src="/assets/images/toiletW.png" style="height:2.5rem"></a>
        <a href="/" class="screen_500"> <img src="/assets/images/toiletW.png" style="height:2.5rem"></a>
        </h1>
    </header>
    <div class="wrapper">
    <main>
     {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
      <p>&copy; R.O.W / Last Updated: 03/02/2022</p>
    </footer>
  </div>
</body>

</html>

     {{!-- <a href="/favorite" class="column is-1">FAVS</a> --}}
              {{!-- <a href="/login" class="column is-1">FAVS</a> --}}
            {{!-- <a href="/login" class="column is-1">REVIEWS</a> --}}