 {{!-- <section class="column is-one-quarter side-bar is-invisible">
        {{> sidebar bathroom}}
    </section>
     <section class="column is-one-quarter side-bar-post is-invisble">
        {{> sidebarpost}}
    </section> --}}

<script src='/assets/map.js'></script>