<div class="columns">
    <section class="column main-map">
        <div >
            {{!-- map goes here --}}
        </div>
    </section>
    <section class="column is-one-quarter side-bar">
        {{> sidebar bathroom}} {{!said sidebar could not be found upon load}}
    </section>
</div>