<div class="columns">
    <section class="column main-map">
        <div id= "map">
            {{!-- map goes here --}}
        </div>
    </section>
  
</div>

<script src='/assets/map.js'></script>