<div class="columns">
    <section class="column main-map">
        <div id= "map">
            {{!-- map goes here --}}
        </div>
    </section>
    <section class="column is-one-quarter side-bar is-invisible">
        {{!-- {{> sidebar bathroom, also we need two of these one for the post and another for the get by id}} {{!said sidebar could not be found upon load}} --}}
        {{>sidebar bathroom}}
    </section> 
        <section class="column is-one-quarter side-bar-post is-invisible">
        {{!-- {{> sidebar bathroom, also we need two of these one for the post and another for the get by id}} {{!said sidebar could not be found upon load}} --}}
        {{>sidebarpost}}
    </section> 
</div>

<script src='/assets/map.js'></script>