.map {
    text-align:center;
    display: flex;
  }
  
  #map {
    align-items:center;
    display: flex;
    width: 100vw; 
    height: 70vh;
  }
        
  .map-title {
    text-align:center;
    padding-bottom: 40px;
  }
  
  .map-space {
    margin-top: 60px;
  }

  .marker {
    background-image: url('toilet.jfif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    }

  .side-bar-info {
    display: hidden;
  }