* {
  box-sizing: border-box;
}

:root {
  --primary: #2196F3;
  --secondary: #8abff3;
  --background: #dfedff;
  --light-grey: #d7dce6;
  --div_line: #2196F3;
  --dark: #38302e;
  --border-radius: 1rem;
  --main-font: 'Roboto', sans-serif;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--background);
  border-radius: var(--border-radius);
}
header {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  
}
header h1 {
  font-size: 2.5rem;
  background-color: var(--primary);
  color: white;
  font-weight: 700;
  width: fit-content;
  line-height: 1rem;
  padding: 20px;
  border-radius: var(--border-radius);
}

header h1 a:hover {
  color:white;
}

header h1 a:visited {
  color:white;
}

main {
  flex: 1;
  height: fit-content;
}
nav {
  font-size: 1.4rem;
  background-color: var(--secondary);
  font-weight: bold;
  padding: 0 10px 0 30px !important;
  border-radius: var(--border-radius);
  margin: 0 !important;
  justify-content: space-around;
}

nav a {
  color: white;
  transition: color .3s;
  padding: 5px 0 5px 0 !important;
  text-align: center;
}
nav a:hover {
  color: var(--primary);
}
nav button {
  padding: 5px 0 5px 0 !important;
}
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color .3s;
  margin-left: 16px;
}
.btn-no-style:hover {
  color: var(--primary)
}
.main-map {
  height: 1000px;  
}
.side-bar {
  height: 1000px;
}
.side-bar-info {
  background-color: rgb(242, 248, 255);
  height: 100%;
  padding: 15px;
  border-radius: var(--border-radius);
}
.restroom-name {
  font-size: 1.5rem;
  margin: 0 0 5px 0;
  color: black;
  font-weight: 500;
  border-bottom: 2px solid var(--div_line);
}
.address-bar {
  border-top: 2px solid var(--div_line);
  border-bottom: 2px solid var(--div_line);
  font-size: small;
  padding-bottom: 3px;
}
.pictogram {
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
  background-color: white;
}
.pictogram img {
  height: 100%;
}
.rating {
  border-top: 2px solid var(--div_line);
  border-bottom: 2px solid var(--div_line);
}
.rating p {
  font-weight: 500;
}
.score {
  font-size: 2.5rem;
  height:fit-content;
  line-height: 100%;
}
.review-section {
  margin-top: 10px;
}
.review-section p {
  font-weight: 500;
}
.review-list {
  border-top: 1px solid var(--light-grey);
}
.review {
  border-bottom: 2px solid var(--light-grey);
  margin-top: 5px;
  padding-bottom: 5px;
}
.review a:link{
  color: var(--dark);
}
.review a:hover {
  color: var(--light-grey);
}
.reviewer-info {
  font-size: 0.75rem;
  border-bottom: 1px dashed var(--light-grey); 
}
.reviewer {
  font-size: 1rem;
  font-weight: 500;
}
.review-rates {
  font-size: 0.75rem;
}
.article {
  margin-bottom: 15px;
}
.article a{
  color: var(--dark);
}
.article a:hover {
  color: var(--secondary);
}
.article-info {
  background-color: white;
  padding-left: 10px;
  font-size: 1.5rem;
}
.article-content {
  background-color: var(--light-grey);
  padding-left: 10px;
}
.article-rates {
  padding-top: 5px;
  font-size: 0.75rem;
  padding-bottom: 10px;
}
.edit-review {
  margin-top: 10px;
}
.edit-review h2 {
  background-color: white;
  padding: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}
.edit-review-form {
  background-color: var(--light-grey); 
  padding: 5px;
}
.edit-review-form div {
  padding-bottom: 20px;
}
.text_input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
}
.slider {
  width: 150px;
}
.byYou {
  font-size: 0.75rem;
}
.edit-review-form button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}
.edit-review-form button:hover {
  background-color: #3486eb;
}
.log-form {
  font-family: var(--main-font);
  color: grey;
  background-color: white;
  display:flex;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.log-header {
  background-color: var(--light-grey);
  font-weight: 600;
  font-size: 1.2rem;
}
.log-container div {
  margin: 10px 10px 10px 0;
}
.log-container input{
  border: none;
  border-bottom: 1px solid var(--light-grey);
}
.log-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.log-form button {
  background-color: var(--secondary);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 0 auto;
}
.log-form button:hover {
  background-color: var(--background);
}
.signup-form {
  font-family: var(--main-font);
  color: grey;
  background-color: white;
  display:flex;
  width: fit-content;
  padding: 10px;
}
.log-container div {
  margin: 10px 10px 10px 0;
}
.login-form input{
  border: none;
  border-bottom: 1px solid var(--light-grey);
}
.log-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form button {
  background-color: var(--secondary);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 0 auto;
}
.login-form button:hover {
  background-color: var(--background);
}
footer {
  border-top: 2px solid white;
  text-align: center;
  padding-top: 5px;
}
.sample {
  background-color: var(--light-grey);
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}
.map {
    text-align:center;
    display: flex;
  }
  
  #map {
    align-items:center;
    display: flex;
    width: 100%; 
    height: 70vh;
  }
        
  .map-title {
    text-align:center;
    padding-bottom: 40px;
  }
  
  .map-space {
    margin-top: 60px;
  }

  .marker {
    background-image: url('toilet.jfif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    }

.output-input{
  display: none;
  width: 33vw;
  height: 70vh;
  background-color: white;
}


.mobile_screen{
  display: none !important;
}

.screen_500 {
  display: none;
}

@media screen and (max-width: 1000px) {

  .wide_screen {
    display: none !important;
  }

  .mobile_screen{
    display: flex !important;
  }

}

@media screen and (max-width: 500px) {
  .screen_501{
    display:none;
  }

  .screen_500 {
    display: block;
  }

  header {
    display: flex !important;
    justify-content: center !important;
  }
}


