/* .map {
    text-align:center;
    display: flex;
  } */
  
  #map {
    align-items:center;
    display: flex;
    width: 100vw; 
    height: 70vh;
  }
        
  .map-title {
    text-align:center;
    padding-bottom: 40px;
  }
  
  .map-space {
    margin-top: 60px;
  }

  .marker {
    background-image: url('toilet.jfif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* .mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif; */
/* } */

* {
    box-sizing: border-box;
  }
  
  body {
    color: rgb(15, 15, 15);
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }

  a {
    color: #404040;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }

  /* The page is split between map and sidebar - the sidebar gets 1/3, map
  gets 2/3 of the page. You can adjust this to your personal liking. */
  .sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  .map {
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;
  }

  .heading {
    background: brown;
    border-bottom: 1px solid rgb(8, 8, 8);
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }
  
  .brand-logo {
   position: center;
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }
  
  .listings .item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }
  
  .listings .item:last-child { border-bottom: none; }
  
  .listings .item .title {
    display: block;
    color: brown;
    font-weight: 700;
  }
  
  .listings .item .title small { font-weight: 400; }
  
  .listings .item.active .title,
  .listings .item .title:hover { color: brown; }
  
  .listings .item.active {
    background-color: #f8f8f8;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: brown;
    border-radius: 0;
  }
 
  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    padding: 0;
    width: 180px;
  }
  .mapboxgl-popup-content h3 {
    font: 400 12px/15px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    background: brown;
    color: #fff;
    margin: 0;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -10px;
  }

  .mapboxgl-popup-content h4 {
    font: 400 12px/15px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 10px;
    font-weight: 400;
  }

  .mapboxgl-popup-content div {
    padding: 10px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }

  #info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    }