{{!input form for bathroom post}}
<section>
  <h2>Create New Bathroom</h2>
  <form class="new-post-form">
    <div>
      <label for="bathroom-title">Title (Location</label>
      <input type="text" id="bathroom-title" name="bathroom-title" />
    </div>
    <div>
      <label for="image-url">Image Link</label>
      <input id="image-url" name="image-url" />
    </div>
<input type="checkbox" id="gendered" name="gendered" value="1">
<label for="gendered"> Male/Female?</label><br>
<input type="checkbox" id="unisex" name="unisex" value="1">
<label for="unisex"> Unisex?</label><br>
<input type="checkbox" id="disabled" name="disabled" value="1">
<label for="disabled"> Disabled Access?</label><br>
<input type="checkbox" id="baby" name="baby" value="1">
<label for="baby"> Changing Tables?</label><br>
<input type="checkbox" id="period" name="period" value="1">
<label for="period"> Period Products?</label><br>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<script src='/assets/map.js'></script>